@charset "UTF-8";

@import "./reset";
@import "./font-face";
@import "./mixin";
@import "./variables";
@import "./pages/home.scss";
@import "./pages/add.scss";

html {
    font-family: "Pretendard", "Malgun Gothic", "맑은 고딕", "돋움", Dotum, "굴림", Gulim, Tahoma, Verdana, Geneva, sans-serif, Apple Gothic, AppleGothic;
    font-size: 10px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    background-color: $color-dark;
}

body {
    color: #333;
    width: 100%;
    margin: 1.6rem auto 6rem;
}

#content {
    box-sizing: border-box;
    padding: 0 1.6rem 1.6rem;
    margin: 0 1.6rem;
    border: 2px solid $color-primary;
    border-radius: 0 0 1.6rem 1.6rem;
    background-color: $color-black;
}

h1.app-title {
    display: inline-block;
    padding: 1.6rem 1.2rem .8rem;
    color: $color-primary;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: -.1rem;
    font-style: italic;
    box-sizing: border-box;
}

.router-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 1.6rem;
}

.link-add {
    position: relative;
    top: 2px;
    display: flex;
    align-items: center;
    padding: 1.1rem 1rem 0.9rem;
    border-radius: 1.6rem 1.6rem 0 0;
    border: 2px solid #7ff000;
    border-bottom: none;
    background-color: $color-black;
    color: $color-primary;
    font-size: 1.4rem;
    font-weight: 700;
    span {
        margin-left: .6rem;
    }
    svg {
        width: 2rem;
        height: 2rem;
        fill: $color-primary;
    }
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.background {
    width: 100%;
    height: 100%;
    background: $color-black;
    opacity: 0.95;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
}


@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

@keyframes rotateOpacity {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: .1;
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
        opacity: 1;
    }
}

.vs-loading {
    position: relative;
    margin: 0 auto 19.7rem;
    width: 220px;
    height: 220px;
    display: block;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid transparent;

    .effect-1 {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 3px solid transparent;
        border-left: 3px solid $color-primary;
        border-radius: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: $color-black;
        outline: none;
        transition: all .3s ease;
        animation: rotate 1s ease infinite;
    }

    .effect-2 {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 3px solid transparent;
        border-left: 3px solid $color-primary;
        border-radius: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        animation: rotateOpacity 1s ease infinite .1s;
        transition: all .3s ease;
        outline: none;
    }

    .effect-3 {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 3px solid transparent;
        border-left: 3px solid $color-primary;
        -webkit-animation: rotateOpacity 1s ease infinite .2s;
        animation: rotateOpacity 1s ease infinite .2s;
        border-radius: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        transition: all .3s ease;
        outline: none;
    }

    .message {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        p {
            color: #fff;
            font-size: 1.4rem;
            font-weight: 500;
        }
    }
}

.button-save {
    width: 100%;
    padding: 1.8rem;
    background-color: $color-secondary;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    transition: background-color .2s ease-out, color .2s ease-out;

    svg {
        margin-left: .4rem;
        fill: #fff;
        transition: fill .2s ease-out;
    }

    &:hover {
        color: $color-black;
        background-color: $color-primary;

        svg {
            fill: $color-black;
        }
    }

    &:disabled {
        cursor: not-allowed;
        background-color: #c6c6c6;
        color: #8d8d8d;
        animation: shake .5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;

        svg {
            fill: $color-grey-0;
        }
    }

    @keyframes shake {
        10%,
        90% {
          transform: translate3d(-1px, 0, 0);
        }
      
        20%,
        80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%,
        50%,
        70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%,
        60% {
          transform: translate3d(4px, 0, 0);
        }
    }
}



@media screen and (max-width: 280px) {
    html {
        font-size: 8px;
    }
}

@media screen and (min-width: 1281px) {
    body {
        overflow-y: hidden;
    }
}